# Kaggle competition--Expedia

In [1]:
import pandas as pd

In [2]:
destinations = pd.read_csv("data/destinations.csv")

In [3]:
sample_submission=pd.read_csv("data/sample_submission.csv")

In [4]:
test = pd.read_csv("data/test.csv")

In [ ]:
#train = pd.read_csv("D:/Kaggle/expedia-data/train.csv")

In [ ]:
#train = pd.read_csv("data/train.csv")

In [ ]:
destinations.head()

In [7]:
sample_submission.head()

   id hotel_cluster
0   0          99 1
1   1          99 1
2   2          99 1
3   3          99 1
4   4          99 1

In [8]:
test.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

# read big csv file by bulks

In [ ]:
reader = pd.read_csv('data/train.csv', iterator=True)
try:
    train = reader.get_chunk(100000000)
except StopIteration:
    print "Iteration is stopped."

In [ ]:
reader = pd.read_csv('data/train.csv', iterator=True)
loop = True
chunkSize = 2000000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print "Iteration is stopped."
train = pd.concat(chunks, ignore_index=True)

In [8]:

train.shape

NameError: name 'train' is not defined